@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply relative inline-block pb-1;
  }

  a:after {
    @apply absolute bottom-0 left-0 h-px w-full origin-bottom-right scale-x-0 bg-white transition-transform duration-300 content-[''];
  }

  a:hover:after {
    @apply origin-bottom-left scale-x-100;
  }
}
